html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: var(--white-100);
  background-color: var(--grey-70);
}

a {
  color: var(--white-100);
  text-decoration: none;
}


ul {
  padding: 1em;
  list-style: none;
}

li {
  padding: 0 0 0.5em 0;
}
a {
  text-decoration: none;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: var(--white-100);
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}